.first_name{
    text-transform: uppercase;
    font-size: 14px;
}
.user-info-wrapper{
    padding: 10px;
    margin: 15px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid;
    word-wrap: break-word;
}

.right-section{
    flex: 1;
}

.left-section{
    flex: 1;

}
.site_link{
    display: inline-block;
    word-break: break-word;
}

@media(max-width:1080px){
    .right-section{
        flex: 1 1 100%;
    }
}

